/* @import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap'); */
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
@layer base{
   html{
    overflow-x: hidden;
   }
    section{
        @apply min-h-screen
    }
    .header{
        background-image: url(./assets/bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .btn{
        border: none;
        outline: none;
    }
    .font{
        font-family: 'Handlee', cursive;
    }
    .inp-field{
       @apply flex gap-2 items-center p-1 px-2 rounded-md bg-gray-400
    }
    input{
        border: none;
        outline: none;
    }
}