/* @import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap'); */
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* text-wrap:; */
    /* font-weight obhyu0p80-9 b;hvgv              mmmmm..; */
}
@layer base{
   html{
    overflow-x: hidden;
   }
    
    .header{
        background-image: url(./assets/bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .btn{
        border: none;
        outline: none;
    }
    .font{
        font-family: 'Handlee', cursive;
    }
    .inp-field{
       @apply flex gap-2 items-center p-1 px-2 rounded-md 
    }
    input[type='text'], [type='password'], [type='email']{
        @apply p-2 px-3 rounded-md focus:outline-black focus:outline 
    }
    .overlay{
        @apply lg:hidden block  backdrop-brightness-50 fixed left-0 top-0 w-screen h-screen    }
    .isSidemenu{
        @apply -right-full transition-all duration-[2000]  dark:bg-[#3f434a] border-l bg-white w-[24rem] ml-auto dark:border-transparent h-screen absolute top-0
    }
    .searchOverlay{
        @apply h-screen hidden w-screen fixed backdrop-blur-sm backdrop-brightness-50 left-0 top-0 z-20
    }
    .sm-search{
        @apply sm:hidden cursor-pointer block text-2xl
    }
    .lg-search{
        @apply hidden sm:flex  gap-x-2
    }
    .logo-name{
        @apply capitalize font-bold hover:text-gray-700 dark:hover:text-gray-200 transition-all -ml-3
    }
    .edit-form{
        @apply mx-auto w-full sm:w-1/2 bg-white h-max dark:bg-[#181B1F] transition-all fixed -bottom-[100vh] sm:top-[30%] left-0 sm:left-[25%] rounded-lg z-20
    }
    .edit-overlay{
        @apply w-screen top-0 left-0 fixed  h-screen backdrop-brightness-50
    }
    .drag-box{
        @apply container border-dashed p-3 text-center text-lg rounded-md cursor-pointer  border border-gray-500 w-60 h-60 flex mx-auto justify-center items-center
    }
    
        /* a{
        @apply hover:underline
    } */
}